    <div ng-controller="FriendsController" class="ui visible left vertical sidebar menu" id="friends">
        <div class="item" style="z-index: 100;">
            <div class="ui avatar image"><img src="{{getAvatarURL(me.avatarHash)}}" style="width: 32px; height: 32px;"></img></div>{{me.playerName}}
            <div class="ui floating labeled icon dropdown" id="personaStateChooser" style="z-index: 101; overflow: visible !important; margin-right: -3px; float: right;">
              <i class="circle thin icon" style="color: {{stateColor(me.personaState)}}; margin-top: 10px;"></i>
              <div class="menu" style="margin-left: -80px;">
                <div class="item" data-stateID="1">
                  <i class="green circle thin icon"></i>
                  Online
                </div>
                <div class="item" data-stateID="2">
                  <i class="red circle thin icon"></i>
                  Busy
                </div>
                <div class="item" data-stateID="3">
                  <i class="orange circle thin icon"></i>
                  Away
                </div>
                <div class="item" data-stateID="4">
                  <i class="pink circle thin icon"></i>
                  Snooze
                </div>
              </div>
            </div>
        </div>
        <div class="ui horizontal divider">~</div>
        <div id="friendsList">
          <a ng-repeat="friend in onlineFriends | orderBy:['-messageState','personaState','playerName']" style="background-color: {{stateActivityIndicator(friend.messageState)}};" ng-click="setActiveChat(friend.friendid)" class="item">
              <div class="ui avatar image"><img src="{{getAvatarURL(friend.avatarHash)}}" style="width: 32px; height: 32px;"></img></div>{{friend.playerName}}
              <i class="circle thin icon" style="color: {{stateColor(friend.personaState)}}; margin-top: 10px;"></i>
          </a>
        </div>
    </div>
    <div ng-controller="ChatController" class="pusher" id="chat" style="z-index: -2;">
        <div class="ui grid">
            <div style="height: 330px;" class="three column row">
                <div class="five wide column" >
                    <div id="messageList" style="width: 320px; height: 320px; padding-left: 10px; overflow-y: scroll;" class="ui relaxed list">
                        <div ng-repeat="message in messages" class="item">
                                {{message.senderName}}: {{message.body}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="two column row ui form">
                <div class="seven wide column">
                    <div class="twelve wide field">
                        <textarea style="width: 250px; height: 20px; margin-right: 0px;" cols="50" rows="2" id="messageBox"></textarea>
                    </div>
                </div>
                <div class="five wide column">
                    <button class="right attached ui submit button" style="margin-left: -15px; margin-top: 1px;" ng-click="sendMessage()">Send</div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('#messageBox').emojiPicker({
      height: '200px',
      width: '250px'
    });
    $('#personaStateChooser').dropdown({
      action: 'select',
      onChange: function(value, text, $selectedItem) {
        var stateID = $selectedItem.data("stateid");
        setMyPersona(stateID);
      }
    });
    </script>
