    <div ng-controller="FriendsController" class="ui visible left vertical sidebar menu" id="friends">
        <a ng-click="refreshFriends()"class="item">
            <div class="ui avatar image"><img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/{{me.avatarHash.substr(0,2)}}/{{me.avatarHash}}_full.jpg" style="width: 32px; height: 32px;"></img></div>{{me.playerName}}
        </a>
        <div class="ui horizontal divider">~</div>
        <a ng-repeat="friend in onlineFriends | orderBy:['-messageState','personaState']" style="background-color: {{stateActivityIndicator(friend.messageState)}};" ng-click="setActiveChat(friend.friendid)" class="item">
            <div class="ui avatar image"><img src="{{getAvatarURL(friend.avatarHash)}}" style="width: 32px; height: 32px;"></img></div>{{friend.playerName}}
            <i class="circle thin icon" style="color: {{stateColor(friend.personaState)}}; margin-top: 10px;"></i>
        </a>
    </div>
    <div ng-controller="ChatController" class="pusher" id="chat">
        <div class="ui grid">
            <div style="height: 360px;" class="three column row">
                <div class="five wide column" >
                    <div id="messageList" style="width: 320px; height: 350px; padding-left: 10px; overflow-y: scroll;" class="ui relaxed list">
                        <div ng-repeat="message in messages" class="item">
                                {{message.senderName}}: {{message.body}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="two column row ui form">
                <div class="seven wide column">
                    <div class="twelve wide field">
                        <textarea style="width: 250px; height: 40px;" cols="50" rows="2" id="messageBox"></textarea>
                    </div>
                </div>
                <div class="five wide column">
                    <button class="ui submit button" ng-click="sendMessage()">Send</div>
                </div>
            </div>
        </div>
    </div>
